<h1>User CRUD example</h1>

<h4>GET</h4>
<div>
    <input #me (change)="getOne(me.value)" />
    Single user: <span *ngIf="user">{{user.name}}</span></div>
<table class="table">
    <thead>
    <tr>
        <th>
            Id
        </th>
        <th>
            Name
        </th>
    </tr>
    </thead>
    <tr *ngFor="let user of users">
        <td>{{user.id}}</td>
        <td><input class="form-control" [(ngModel)]="user.name" /></td>
        <td>
            <button class="btn" (click)="edit(user)">edit</button>
            <button class="btn" (click)="delete(user)">delete</button>
        </td>
    </tr>
</table>

<h4>POST</h4>
<input [(ngModel)]="newUser" type="text" />
<button (click)="addUser()">Add</button>
